.testimonials-container {
   display:contents;
    }

.testimonials {
    width: 270px;
    height:300px;
    display: inline-flex;
    flex-wrap: wrap;
    background-color: #ffffff;
    border-radius: 20px;
    margin: 14px;
    /*box-shadow: 0 0 20px rgba(0,0,0,0.1);*/
}
.testimonial {
    border-bottom: 1px solid #eee;
    width: 270px;
    height:300px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(12, 1, 1, 0.1);

}
.testimonial:hover{
    box-shadow: 0 0 15px rgba(17, 16, 16, 0.3);
    cursor: context-menu;
}
.picture {
    padding-top: 15px;
    text-align: center;
    image-rendering: crisp-edges;

}

.testimonial p {
    font-size: 15px;
    margin: 10px;
    line-height: 1.5;
    color: #333;
    text-align: justify;
}
.testimonial img{
    height: 70px;
}

input#author, input#email  {
    width: 100%;
    height: 40px;
    font-size: large;
}

textarea#comment {
    width: 100%;
    font-size: large;
}